ETHERLINK_SHADOWNET_RPC_URL=https://node.shadownet.etherlink.com
ETHERLINK_SHADOWNET_EXPLORER_API_URL=https://shadownet.explorer.etherlink.com/api
ETHERLINK_SHADOWNET_EXPLORER_URL=https://shadownet.explorer.etherlink.com
PRIVATE_KEY=
DEPLOYER_ADDRESS=
ETHERSCAN_API_KEY=YOU_CAN_COPY_ME
CONFIRM_SHADOWNET_DEPLOYMENT=false
WRITE_DEPLOYMENT_ARTIFACTS=true
VERIFY_CONTRACTS=true
PYTH_CONTRACT_ADDRESS=
REDSTONE_ADAPTER_ADDRESS=
MOCK_ORACLE_OWNER=
TEST_MARKET_OWNER=
TEST_RISK_OWNER=
